{% extends 'base.html.twig' %}

{% block title %}Lock or unlocker a topic{% endblock %}

{% block body %}
    <div class="container-wrapper">
        <h1>{{ topic.title }}</h1>
        <div class="container">
            <div class="topic">
                <p class="topic-posted">
                    {{ topic.createdAt | date('d-m-Y H:i:s') }} | Posted by {{ topic.user ? topic.user : 'Anonymous author' }}
                </p>
                <p class="topic-content">
                    {{ topic.content }}
                </p>
            </div>
            <div class="lock-or-unlock">
                {{ form(isLockedForm) }}
            </div>
        </div>
    </div>
{% endblock %}
