{% extends 'base.html.twig' %}

{% block title %}A topic{% endblock %}

{% block body %}
    <div class="container-wrapper">
        <h1>{{ topic.title }}</h1>
        <div class="container">
            <div class="topic">
                <p class="topic-posted">
                    {{ topic.createdAt | date('d-m-Y H:i:s') }} | Posted by {{ topic.user ? topic.user : 'Anonymous author' }}
                </p>
                <p class="topic-status">
                    {{ topic.isLock == false ? 'Not resolved': 'Resolved' }} |
                    <a href="{{ path('locked_topic', {'id': topic.id}) }}">Change status</a>
                </p>
                <p class="topic-content">
                    {{ topic.content }}
                </p>
            </div>
            <div class="answers">
                {% if topic.messages | length > 0 %}

                    {% if topic.isLock == false %}
                        <p class="answer-lock-up">
                            Add a new answer
                            {{ form(messageForm, {'attr': {'novalidate': 'novalidate'}}) }}
                        </p>

                    {% else %}
                        <p class="answer-locked-down">
                            Resolved post :) We cannot add a new answer
                        </p>
                    {% endif %}

                    {% for message in topic.messages %}
                        <div class="answer">
                            <p>{{ message.createdAt | date('d-m-Y H:i:s') }} | Posted by {{ message.user ? message.user : 'Anonymous author' }}</p>
                            <p>{{ message.content }}</p>
                        </div>
                        <div class="edit-msg">
                            <p>
                                <a href="{{ path('message_edit', {'id': message.id}) }}">Edit</a>
                            </p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="no-answer">
                        No answer currently<br>
                        Add a first answer
                        {{ form(messageForm) }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
