{% extends 'base.html.twig' %}

{% block title %}A topic{% endblock %}

{% block body %}
    <div class="container-wrapper">
        <h1>{{ topic.title }}</h1>
        <div class="container">
            <div class="topic">
                <p class="topic-posted">{{ topic.createdAt | date('d-m-Y H:i:s') }}</p>
                <p class="topic-content">
                    {{ topic.content }}
                </p>
            </div>
            <div class="answers">
                {% if topic.isLock == false %}
                    <p class="answer-lock-up">
                        <a href="{{ path('message_add') }}" class="add-answer">Add an answer</a>
                    </p>
                {% else %}
                    <p class="answer-locked-down">
                        Resolved post :) We cannot add a new answer
                    </p>
                {% endif %}
                {% if topic.messages | length > 0 %}
                    {% for message in topic.messages %}
                        <div class="answer">
                            <p>{{ message.createdAt | date('d-m-Y H:i:s') }}</p>
                            <p>{{ message.content }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="no-answer">
                        No answer currently<br>
                        <a href="{{ path('edit_message') }}">Add an answer</a>
                    </p>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
