{% extends 'base.html.twig' %}

{% block title %}A topic{% endblock %}

{% block body %}
    <div class="container-wrapper">
        <h1>{{ topic.title }}</h1>
        <div class="container">
            <div class="topic">
                <p class="topic-posted">{{ topic.createdAt | date('d-m-Y H:i:s') }}</p>
                <p class="topic-content">
                    {{ topic.content }}
                </p>
            </div>
            <div class="answers">
                {% if topic.messages | length > 0 %}

                    {% if topic.isLock == false %}
                        <p class="answer-lock-up">
{#                            <a href="{{ path('message_add', {'id': topic.id}) }}" class="add-answer">Add a new answer</a>#}
                            Add a new answer
                            {{ form(messageForm, {'attr': {'novalidate': 'novalidate'}}) }}
                        </p>

                    {% else %}
                        <p class="answer-locked-down">
                            Resolved post :) We cannot add a new answer
                        </p>
                    {% endif %}

                    {% for message in topic.messages %}
                        <div class="answer">
                            <p>{{ message.createdAt | date('d-m-Y H:i:s') }}</p>
                            <p>{{ message.content }}</p>
                        </div>
                        <div class="edit-msg">
                            <p>
                                <a href="{{ path('message_edit', {'id': message.id}) }}">Edit</a>
                            </p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="no-answer">
                        No answer currently<br>
{#                        <a href="{{ path('message_add', {'id': topic.id}) }}">Add a first answer</a>#}
                        Add a first answer
                        {{ form(messageForm) }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
